/* Base Styles */
    /* Typography- font & text element */
    /* Elements (lists, tables, figures, images) */

body {
    font-family: "Inter Tight", Arial, Helvetica, sans-serif;
    padding-top: 48rem;
    line-height: 1.5;
}

h1 {
    font-family: "DM Serif", 'Times New Roman', Times, serif;
    font-size: 3rem;
    color: #f7a500;
}

h2 {
    font-family: "DM Serif", 'Times New Roman', Times, serif;
    font-size: 2rem;
    color: #000000;
}

/* lists */

/* tables */
/* figures */
/* images */
/* links */


/* LINKS */

a, 
a:visited {
    color: #000000; 
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: #f7a500;
}

.site-wrapper {
    max-width: 120rem;
    margin: 0 auto;
}


/* header */
.site-navigation ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-family: "Inter Tight", Arial, Helvetica, sans-serif;
    font-weight: 400;
    padding: 0 1rem 0;
}

.site-navigation li {
    display: inline-block;
    

}





/* Layout */
    /*  */

/* Components */

/* HEADER */

header { 
    text-align: center;
    padding: 1rem;
    width: 100%;
    background-color: #c97a4d;
    position: fixed;
    z-index: 100;
    top: 0;
}



/* MAIN */

.title h1 {
    position: relative;
    text-align: center;
    justify-content: center;
    top: -25rem;
    z-index: 99;
}

.title img {
    display: block;
    position: absolute;
    top: 6.7rem;
    z-index: 80;
    margin: 0 auto;
    height: 100vh;
    object-fit: cover;
}


/* FOOTER */


/* Header Styles */

/* Hero Styles */

/* Homepage Styles Selection */

/* Activities Styles Selection */

.about {
    background-color: #e5d1b4;
    padding: 3rem 2rem 5rem 2rem;
}

.about h2 {
    display: flex;
    justify-content: center;
}

.things-to-do {
    background-color: #b2c9b3;
    padding-top: 1rem;
}

.things-to-do h2 {
    display: flex;
    justify-content: center;
}

.things-to-do p {
    padding: 0 2rem 1rem 2rem;
}

.things-to-do video, 
.things-to-do img {
    display: block;
    padding: 0 2rem 2rem;
    margin: 0 auto;
}



/* Architecture Styles Selection */

/* Credit Page Styles Selection */

/* Footer Styles */

footer {
    background-color: #d3a56e;
    padding: 1rem;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 1rem;
}

footer p {
    text-align: center;
    padding: 1rem 0 0;
}